body {
	background-image: linear-gradient(to bottom right, #ffffff, #00cccc);
	font-family: 'Fira Code';
	overflow: hidden;
}

a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: white;
}

.flex-container {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
