@font-face{
    font-family: Fjorunskara;
    font-style: normal;
    font-weight: 400;
    src: url(https://rawcdn.githack.com/NoahJGersh/Fjorunskara/2dc63c2b457af0f746c4db15b8a09f47926c9be1/Fjorunskara.ttf);
}
