@font-face{
    font-family: Fjorunskara;
    font-style: normal;
    font-weight: 400;
    src: url(https://rawcdn.githack.com/NoahJGersh/Fjorunskara/1e18ade76f7f17d1ff58ad9e8bd00a6d22ce0e53/Fjorunskara.ttf);
}

html {
    background-position: top left;
    background-attachment: fixed !important;
    background: linear-gradient(to bottom right, #ffffff, #00cccc);
    scroll-behavior: smooth;
}

body {
    height: 100%;
    font-family: 'Fira Code';
    overflow: hidden;
    overflow-x: hidden;
    margin-left: 5vw;
    margin-right: calc(5vw - calc(100vw - 100%));
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: white;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid rgb(40, 40, 40);
}

.center {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.table-of-contents {
    width: 15%;
    height: auto;
    max-height: 90%;
    max-width: 15%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    position: fixed;
    top: 10%;
    display: grid;
    grid-gap:  5px;
    list-style-type: none;
}

.table-of-contents.tight {
    grid-template-columns: repeat(auto-fill, 30%);
    grid-template-rows: repeat(auto-fit, 50px);
    grid-column: 2;
    grid-auto-rows: auto;
    grid-rows: 30;
    grid-auto-flow: column;
}

.table-of-contents.tight a {
    width: auto;
    border: none;
}

.table-of-contents::-webkit-scrollbar {
    display: none;
}

.r {
    right: 0;
}

div.table-of-contents * {
    margin: 0;
    padding-bottom: 0px;
    width: auto;
}

div.table-of-contents a {
    border-top: 1px solid rgb(40, 40, 40);
}

div.table-of-contents a span.fjorunskara {
    font-weight: normal;
}

div.table-of-contents a:hover {
    padding-left: 5px;
    color: black;
}

h2 span.fjorunskara {
    font-weight: normal;
}

.dictionary {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 20px;
    list-style-type: none;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: repeat(auto, 50px);
    grid-column: 3;
    grid-auto-flow: row;
}

.entry {
    width: auto;
    height: auto;
}

.entry * {
    margin: 0 auto;
    height: auto;
    width: auto;
}

.spoiler {
    background-color: black;
}

.spoiler::selection {
    color: black;
}

.spoiler * {
    pointer-events: none;
}

.spoiler *::selection {
    color: black;
}